/* screen - 2u95darku951080x1080u95occupied */

.x2u95darku951080x1080u95occupied {
  align-items: flex-start;
  background-color: var(--steel-gray);
  display: flex;
  width: 1080px;
}

.x2u95darku951080x1080u95occupied .overlap-group {
  background-image: url(../img/--------9-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1080px;
  position: relative;
  width: 1080px;
}

.x2u95darku951080x1080u95occupied .group-2043683286 {
  align-items: flex-end;
  background-color: var(--orange-red);
  border-radius: 87.5px;
  display: flex;
  height: 175px;
  left: 453px;
  min-width: 175px;
  padding: 71.8px 22.4px;
  position: absolute;
  top: 168px;
}

.x2u95darku951080x1080u95occupied .rectangle-40578 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 31px;
  width: 130px;
}

.x2u95darku951080x1080u95occupied .text-18 {
  left: 199px;
  line-height: 50.0px;
  position: absolute;
  top: 734px;
}

.x2u95darku951080x1080u95occupied .frame-2043682893 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 15px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 410px;
  padding: 20px;
  position: absolute;
  top: 805px;
}

.x2u95darku951080x1080u95occupied .text {
  line-height: 37.5px;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.x2u95darku951080x1080u95occupied .frame-2043682900 {
  align-items: center;
  display: inline-flex;
  gap: 20px;
  left: 115px;
  position: absolute;
  top: 501px;
}

.x2u95darku951080x1080u95occupied .frame-2043682897 {
  align-items: center;
  background-color: var(--orange-red);
  border: 2px solid;
  border-radius: 15px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.x2u95darku951080x1080u95occupied .frame-2043682898 {
  align-items: center;
  border: 2px solid;
  border-color: var(--mercury);
  border-radius: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 569px;
}

.x2u95darku951080x1080u95occupied .text-22 {
  left: 431px;
  line-height: 52.1px;
  position: absolute;
  top: 376px;
}

.x2u95darku951080x1080u95occupied .vector {
  height: 1042px;
  left: 19px;
  position: absolute;
  top: 19px;
  width: 1041px;
}

.x2u95darku951080x1080u95occupied .text-1 {
  letter-spacing: 0;
  white-space: nowrap;
}
