* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v804_1401 {
  width: 100%;
  height: 1200px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v804_1402 {
  width: 100%;
  height: 2178px;
  background: url("../images/v804_1402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 355px;
  left: 58px;
  overflow: hidden;
}
.v804_1403 {
  width: 100%;
  height: 2026px;
  background: url("../images/v804_1403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v804_1404 {
  height: 100%;
  background: url("../images/v804_1404.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1405 {
  height: 100%;
  background: url("../images/v804_1405.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1122px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1406 {
  height: 100%;
  background: url("../images/v804_1406.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 374px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1407 {
  height: 100%;
  background: url("../images/v804_1407.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1496px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1408 {
  height: 100%;
  background: url("../images/v804_1408.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 748px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1409 {
  height: 100%;
  background: url("../images/v804_1409.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1870px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1410 {
  height: 100%;
  background: url("../images/v804_1410.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 187px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1411 {
  height: 100%;
  background: url("../images/v804_1411.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1309px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1412 {
  height: 100%;
  background: url("../images/v804_1412.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 561px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1413 {
  height: 100%;
  background: url("../images/v804_1413.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1683px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1414 {
  height: 100%;
  background: url("../images/v804_1414.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 935px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1415 {
  height: 100%;
  background: url("../images/v804_1415.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2058px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1416 {
  width: 100%;
  height: 2026px;
  background: url("../images/v804_1416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2178px;
  left: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v804_1417 {
  height: 100%;
  background: url("../images/v804_1417.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1418 {
  height: 100%;
  background: url("../images/v804_1418.png");
  opacity: 1;
  position: absolute;
  top: 1183px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1419 {
  height: 100%;
  background: url("../images/v804_1419.png");
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1420 {
  height: 100%;
  background: url("../images/v804_1420.png");
  opacity: 1;
  position: absolute;
  top: 1587px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1421 {
  height: 100%;
  background: url("../images/v804_1421.png");
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1422 {
  height: 100%;
  background: url("../images/v804_1422.png");
  opacity: 1;
  position: absolute;
  top: 1991px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1423 {
  height: 100%;
  background: url("../images/v804_1423.png");
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1424 {
  height: 100%;
  background: url("../images/v804_1424.png");
  opacity: 1;
  position: absolute;
  top: 1390px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1425 {
  height: 100%;
  background: url("../images/v804_1425.png");
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1426 {
  height: 100%;
  background: url("../images/v804_1426.png");
  opacity: 1;
  position: absolute;
  top: 1804px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1427 {
  height: 100%;
  background: url("../images/v804_1427.png");
  opacity: 1;
  position: absolute;
  top: 976px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1428 {
  height: 100%;
  background: url("../images/v804_1428.png");
  opacity: 1;
  position: absolute;
  top: 2178px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1429 {
  width: 991px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 136px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 119px;
  opacity: 1;
  text-align: left;
}
.v804_1430 {
  width: 363px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 76px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v804_1431 {
  width: 333px;
  color: rgba(253,35,41,1);
  position: absolute;
  top: 300px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 76px;
  opacity: 1;
  text-align: left;
}
.v804_1432 {
  width: 230px;
  height: 230px;
  background: url("../images/v804_1432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 1609px;
  overflow: hidden;
}
.v804_1433 {
  width: 230px;
  height: 230px;
  background: rgba(253,35,41,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v804_1434 {
  width: 171px;
  height: 40px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 29px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v804_1435 {
  width: 295px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 621px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v804_1436 {
  width: 443px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 955px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v804_1437 {
  width: 100%;
  height: 87px;
  background: url("../images/v804_1437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 675px;
  overflow: hidden;
}
.v804_1438 {
  width: 100%;
  height: 87px;
  background: url("../images/v804_1438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v804_1439 {
  width: 87px;
  height: 87px;
  background: rgba(253,35,41,1);
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v804_1441 {
  width: 293px;
  height: 86px;
  background: url("../images/v804_1441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1442 {
  width: 249px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1443 {
  width: 739px;
  height: 86px;
  background: url("../images/v804_1443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 426px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1444 {
  width: 467px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 136px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1445 {
  width: 100%;
  height: 87px;
  background: url("../images/v804_1445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 955px;
  left: 676px;
  overflow: hidden;
}
.v804_1446 {
  width: 100%;
  height: 87px;
  background: url("../images/v804_1446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v804_1447 {
  width: 87px;
  height: 87px;
  background: rgba(22,207,116,1);
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v804_1449 {
  width: 291px;
  height: 86px;
  background: url("../images/v804_1449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1450 {
  width: 247px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1451 {
  width: 739px;
  height: 86px;
  background: url("../images/v804_1451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 424px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1452 {
  width: 478px;
  color: rgba(137,137,137,1);
  position: absolute;
  top: 22px;
  left: 130px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1453 {
  width: 100%;
  background: url("../images/v804_1453.png");
  opacity: 1;
  position: absolute;
  top: 832px;
  left: 41px;
  border: 2px solid rgba(29,38,51,1);
}
.v804_1454 {
  width: 100%;
  background: url("../images/v804_1454.png");
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 10px;
  border: 2px solid rgba(29,38,51,1);
}
