/* screen - 1920x1080-3 */

.x1920x1080-3 {
  align-items: flex-start;
  background-color: var(--mercury);
  display: flex;
  height: 1080px;
  width: 1920px;
}

.x1920x1080-3 .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/group-2262.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 75px 0;
  width: 1920px;
}

.x1920x1080-3 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 534px;
  height: 285px;
  margin-left: 4.5px;
  min-width: 1754px;
}

.x1920x1080-3 .text-91 {
  letter-spacing: 0;
  line-height: 43.8px;
  min-height: 44px;
  white-space: nowrap;
}

.x1920x1080-3 .text-90 {
  letter-spacing: 0;
  line-height: 124.5px;
  margin-top: 17px;
  min-height: 125px;
  white-space: nowrap;
}

.x1920x1080-3 .text-92 {
  color: var(--selective-yellow);
  font-family: var(--font-family-sb_sans_display-semibold);
  font-size: 76.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 80.0px;
  margin-top: 19px;
  min-height: 80px;
  white-space: nowrap;
}

.x1920x1080-3 .group-2043683284 {
  align-items: flex-end;
  background-color: var(--selective-yellow);
  border-radius: 115px;
  display: flex;
  height: 230px;
  margin-top: 10.5px;
  min-width: 230px;
  padding: 39.8px 40.4px;
}

.x1920x1080-3 .overlap-group {
  height: 149px;
  position: relative;
  width: 149px;
}

.x1920x1080-3 .text-93 {
  color: var(--steel-gray);
  font-family: var(--font-family-sb_sans_display-semibold);
  font-size: 79.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 82.9px;
  margin-bottom: 2.0px;
  min-height: 166px;
  width: 943px;
}

.x1920x1080-3 .vector {
  height: 298px;
  width: 406px;
}

.x1920x1080-3 .rectangle {
  background-color: var(--mercury);
  border-radius: 13.14px;
  height: 40px;
  left: -11px;
  position: absolute;
  top: 55px;
  width: 171px;
}
