html
  head
    <meta charset="utf-8">
    link(rel='stylesheet', type='text/css', href='./styles.css')
    title Занято

  body
    .container
      text(x='50' y='55' text-anchor='middle' fill='white' font-size='20') 
      h1 Занято 
      if occupied.name
          text(x='50' y='85' text-anchor='middle' fill='white' font-size='16') 
          | Имя: #{occupied.name}
      if occupied.time
          text(x='50' y='115' text-anchor='middle' fill='white' font-size='16') 
          | Время: #{occupied.time}

      style.
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          background-color: #161C26;
          color: #fff;
          text-align: center;
        }