html
  head
    <meta charset="utf-8">
    link(rel='stylesheet', type='text/css', href='./styles.css')
    title Ошибка приложения

  body
    .container
      text(x='50' y='55' text-anchor='middle' fill='white' font-size='20') 
      h1 Страничка для ошибки

      style.
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          background-color: #161C26;
          color: #fff;
          text-align: center;
        }