@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .element-x {
  background-color: #e7e7e7;
  width: 1080px;
  height: 1080px;
  overflow: hidden;
  border-radius: 50%;
}

.element .overlap-group {
  position: relative;
  height: 1080px;
  background-image: url(../images/group-2262.png);
  background-size: 100% 100%;
}

.element .text-wrapper {
  position: absolute;
  top: 460px;
  left: 357px;
  font-family: "SB Sans Display-Semibold", Helvetica;
  font-weight: 400;
  color: #1d2633;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50.0px;
  white-space: nowrap;
}

.element .frame {
  display: flex;
  flex-wrap: wrap;
  width: 626px;
  align-items: flex-start;
  gap: 20px 20px;
  position: absolute;
  top: 558px;
  left: 227px;
}

.element .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ff232a;
  border-radius: 15px;
  border: 2px solid;
}

.element .div {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  color: #e7e7e7;
  font-size: 36px;
  line-height: 37.5px;
  font-family: "SB Sans Display-Semibold", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.element .frame-2 {
  display: flex;
  width: 338px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  border: 2px solid;
  border-color: #1d2633;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  color: #1d2633;
  font-size: 36px;
  line-height: 37.5px;
  font-family: "SB Sans Display-Semibold", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 376px;
  left: 386px;
  color: #18dd7c;
  font-size: 50px;
  line-height: 52.1px;
  font-family: "SB Sans Display-Semibold", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.element .group {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 168px;
  left: 453px;
  background-color: #18dd7c;
  border-radius: 87.5px;
}

.element .rectangle {
  position: relative;
  width: 130px;
  height: 31px;
  top: 73px;
  left: 22px;
  background-color: #e7e7e7;
  border-radius: 10px;
  transform: rotate(-90deg);
}

.element .vector {
  position: absolute;
  width: 1041px;
  height: 1042px;
  top: 19px;
  left: 19px;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}