* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v804_1309 {
  width: 100%;
  height: 1200px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v804_1310 {
  width: 100%;
  height: 2178px;
  background: url("../images/v804_1310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 355px;
  left: 58px;
  overflow: hidden;
}
.v804_1311 {
  width: 100%;
  height: 2026px;
  background: url("../images/v804_1311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v804_1312 {
  height: 100%;
  background: url("../images/v804_1312.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1313 {
  height: 100%;
  background: url("../images/v804_1313.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1122px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1314 {
  height: 100%;
  background: url("../images/v804_1314.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 374px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1315 {
  height: 100%;
  background: url("../images/v804_1315.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1496px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1316 {
  height: 100%;
  background: url("../images/v804_1316.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 748px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1317 {
  height: 100%;
  background: url("../images/v804_1317.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1870px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1318 {
  height: 100%;
  background: url("../images/v804_1318.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 187px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1319 {
  height: 100%;
  background: url("../images/v804_1319.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1309px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1320 {
  height: 100%;
  background: url("../images/v804_1320.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 561px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1321 {
  height: 100%;
  background: url("../images/v804_1321.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1683px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1322 {
  height: 100%;
  background: url("../images/v804_1322.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 935px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1323 {
  height: 100%;
  background: url("../images/v804_1323.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2058px;
  border: 2px solid rgba(29,38,51,0.5);
}
.v804_1324 {
  width: 100%;
  height: 2026px;
  background: url("../images/v804_1324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2178px;
  left: 15px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v804_1325 {
  height: 100%;
  background: url("../images/v804_1325.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1326 {
  height: 100%;
  background: url("../images/v804_1326.png");
  opacity: 1;
  position: absolute;
  top: 1183px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1327 {
  height: 100%;
  background: url("../images/v804_1327.png");
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1328 {
  height: 100%;
  background: url("../images/v804_1328.png");
  opacity: 1;
  position: absolute;
  top: 1587px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1329 {
  height: 100%;
  background: url("../images/v804_1329.png");
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1330 {
  height: 100%;
  background: url("../images/v804_1330.png");
  opacity: 1;
  position: absolute;
  top: 1991px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1331 {
  height: 100%;
  background: url("../images/v804_1331.png");
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1332 {
  height: 100%;
  background: url("../images/v804_1332.png");
  opacity: 1;
  position: absolute;
  top: 1390px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1333 {
  height: 100%;
  background: url("../images/v804_1333.png");
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1334 {
  height: 100%;
  background: url("../images/v804_1334.png");
  opacity: 1;
  position: absolute;
  top: 1804px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1335 {
  height: 100%;
  background: url("../images/v804_1335.png");
  opacity: 1;
  position: absolute;
  top: 976px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1336 {
  height: 100%;
  background: url("../images/v804_1336.png");
  opacity: 1;
  position: absolute;
  top: 2178px;
  left: 0px;
  border: 2px solid rgba(29,38,51,0.5);
  transform: rotate(-90deg);
}
.v804_1337 {
  width: 991px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 136px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 119px;
  opacity: 1;
  text-align: left;
}
.v804_1338 {
  width: 363px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 76px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v804_1339 {
  width: 100%;
  height: 283px;
  background: url("../images/v804_1339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 85px;
  overflow: hidden;
}
.v804_1340 {
  width: 399px;
  color: rgba(29,38,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v804_1341 {
  width: 752px;
  height: 283px;
  background: url("../images/v804_1341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 588px;
  overflow: hidden;
}
.v804_1342 {
  width: 752px;
  height: 87px;
  background: url("../images/v804_1342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v804_1343 {
  width: 87px;
  height: 87px;
  background: rgba(253,35,41,1);
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v804_1345 {
  width: 293px;
  height: 86px;
  background: url("../images/v804_1345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1346 {
  width: 249px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1347 {
  width: 739px;
  height: 86px;
  background: url("../images/v804_1347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 426px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1348 {
  width: 155px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 292px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1349 {
  width: 752px;
  height: 87px;
  background: url("../images/v804_1349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 0px;
  overflow: hidden;
}
.v804_1350 {
  width: 87px;
  height: 87px;
  background: rgba(253,35,41,1);
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v804_1352 {
  width: 293px;
  height: 86px;
  background: url("../images/v804_1352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1353 {
  width: 249px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1354 {
  width: 739px;
  height: 86px;
  background: url("../images/v804_1354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 426px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1355 {
  width: 142px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 298px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1356 {
  width: 752px;
  height: 87px;
  background: url("../images/v804_1356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 0px;
  overflow: hidden;
}
.v804_1357 {
  width: 87px;
  height: 87px;
  background: rgba(253,35,41,1);
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v804_1359 {
  width: 293px;
  height: 86px;
  background: url("../images/v804_1359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1360 {
  width: 249px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1361 {
  width: 739px;
  height: 86px;
  background: url("../images/v804_1361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 22px 22px;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 426px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v804_1362 {
  width: 135px;
  color: rgba(29,38,51,1);
  position: absolute;
  top: 22px;
  left: 302px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v804_1363 {
  width: 472px;
  color: rgba(22,207,116,1);
  position: absolute;
  top: 300px;
  left: 85px;
  font-family: SB Sans Display;
  font-weight: Semibold;
  font-size: 76px;
  opacity: 1;
  text-align: left;
}
.v804_1364 {
  width: 230px;
  height: 230px;
  background: url("../images/v804_1364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 1609px;
  overflow: hidden;
}
.v804_1365 {
  width: 230px;
  height: 230px;
  background: rgba(22,207,116,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v804_1366 {
  width: 171px;
  height: 40px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 94px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v804_1367 {
  width: 100%;
  background: url("../images/v804_1367.png");
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 0px;
  border: 2px solid rgba(29,38,51,1);
}
